<div id="badges">
  <a class="badge" href="https://github.com/SmnTin">
    <img alt="github" src="https://img.shields.io/badge/github-grey?style=for-the-badge&logo=github" />
  </a>
  <a class="badge"  href="https://t.me/smntin">
    <img alt="telegram" src="https://img.shields.io/badge/telegram-blue?style=for-the-badge&logo=telegram&logoColor=white" />
  </a>
  <a
    class="badge"
    id="email-reveal-button"
    onclick="
      const emailEncoded = 'smn dot pankv at gmail dot com'
      const emailDecoded = emailEncoded.replaceAll(' dot ', '.').replace(' at ', '@')
      const badges = document.querySelector('#badges')
      const emailRevealButton = badges.querySelector('#email-reveal-button')
      const emailRevealed = badges.querySelector('#email-revealed')
      const emailLink = badges.querySelector('#email-link')

      emailRevealButton.hidden = true
      emailRevealed.hidden = false
      emailLink.href = `mailto:${emailDecoded}`
      emailLink.textContent = emailDecoded
    "
  >
    <img alt="email reveal" src="https://img.shields.io/badge/email-red?style=for-the-badge&logo=mail.ru&logoColor=white" />
  </a>
  <span id="email-revealed" hidden="">
    <a id="email-link"></a>
  </span>
</div>
