// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: flex;
  justify-content: space-around;
  margin: 0 -1.5rem var(--spacer);
  color: grey;
  text-align: center;
}

@media (min-width: 30em) {
  .pagination {
    margin: var(--spacer-3) 0;
  }
}
